<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nsw.wx.product.mapper.WeChatProductColumnMapper" >
  <resultMap id="BaseResultMap" type="com.nsw.wx.product.pojo.WeChatProductColumn" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="EnterpriseID" property="enterpriseid" jdbcType="INTEGER" />
    <result column="Title" property="title" jdbcType="NVARCHAR" />
    <result column="ParentID" property="parentid" jdbcType="INTEGER" />
    <result column="Attribute" property="attribute" jdbcType="VARCHAR" />
    <result column="OrderID" property="orderid" jdbcType="INTEGER" />
    <result column="isCommend" property="iscommend" jdbcType="BIT" />
    <result column="isBest" property="isbest" jdbcType="BIT" />
    <result column="isTop" property="istop" jdbcType="BIT" />
    <result column="Enable" property="enable" jdbcType="BIT" />
    <result column="InputTime" property="inputtime" jdbcType="TIMESTAMP" />
    <result column="PhotoPath" property="photopath" jdbcType="VARCHAR" />
    <result column="Icon" property="icon" jdbcType="VARCHAR" />
    <result column="ChildEnterpriseID" property="childenterpriseid" jdbcType="INTEGER" />
    <result column="OtherField" property="otherfield" jdbcType="VARCHAR" />
  </resultMap>
  <!--根据id删除产品分类信息-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbWeChatProductColumn
    where ID = #{id,jdbcType=INTEGER}
  </delete>

  <!--根据id查询产品分类信息-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select * from tbWeChatProductColumn where ID = #{id,jdbcType=INTEGER}
  </select>

  <!--根据登录的企业id查询产品分类信息-->
  <select id="findAllproductcolumn" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select * from tbWeChatProductColumn
    <if test="enterpriseid != null">
      where EnterpriseID=#{enterpriseid}
    </if>
  </select>

  <select id="findByCategoryTypeIn" resultMap="BaseResultMap" parameterType="java.util.List">
    select * from tbWeChatProductColumn where id IN
    <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </select>

  <!--修改产品分类信息-->
  <update id="updateWeChatProductColumn" parameterType="com.nsw.wx.product.pojo.WeChatProductColumn" >
    update tbWeChatProductColumn
    <set >
      <if test="enterpriseid != null" >
        EnterpriseID = #{enterpriseid,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        Title = #{title,jdbcType=NVARCHAR},
      </if>
      <if test="parentid != null" >
        ParentID = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="attribute != null" >
        Attribute = #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="orderid != null" >
        OrderID = #{orderid,jdbcType=INTEGER},
      </if>
      <if test="iscommend != null" >
        isCommend = #{iscommend,jdbcType=BIT},
      </if>
      <if test="isbest != null" >
        isBest = #{isbest,jdbcType=BIT},
      </if>
      <if test="istop != null" >
        isTop = #{istop,jdbcType=BIT},
      </if>
      <if test="enable != null" >
        Enable = #{enable,jdbcType=BIT},
      </if>
      <if test="inputtime != null" >
        InputTime = #{inputtime,jdbcType=TIMESTAMP},
      </if>
      <if test="photopath != null" >
        PhotoPath = #{photopath,jdbcType=VARCHAR},
      </if>
      <if test="icon != null" >
        Icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="childenterpriseid != null" >
        ChildEnterpriseID = #{childenterpriseid,jdbcType=INTEGER},
      </if>
      <if test="otherfield != null" >
        OtherField = #{otherfield,jdbcType=VARCHAR},
      </if>
      <if test="shortdesc != null" >
        ShortDesc = #{shortdesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <!--添加产品分类信息-->
  <insert id="insertWeChatProductColumn" parameterType="com.nsw.wx.product.pojo.WeChatProductColumn">
    INSERT INTO tbWeChatProductColumn(EnterpriseID,Title ,ParentID,ShortDesc,Attribute,OrderID
    ,isCommend,isBest,isTop,Enable,InputTime ,PhotoPath,Icon,ChildEnterpriseID,OtherField)
    VALUES  (#{enterpriseid},#{title},#{parentid},#{shortdesc},#{attribute},#{orderid},
    #{iscommend},#{isbest},#{istop},#{enable},#{inputtime},#{photopath},#{icon},#{childenterpriseid},#{otherfield})
  </insert>

   <select id="findByTitle" resultMap="BaseResultMap" parameterType="com.nsw.wx.product.pojo.WeChatProductColumn">
     select * from tbWeChatProductColumn where Title=#{title}
   </select>

  <select id="Allproductcolumn" resultMap="BaseResultMap">
    select * from tbWeChatProductColumn
  </select>

  <select id="SelTitle" resultMap="BaseResultMap">
    select distinct  id,Title from dbo.tbWeChatProductColumn where 1=1
    <if test="enterpriseid != null">
      and EnterpriseID=#{enterpriseid}
    </if>
  </select>
</mapper>